/* You can add global styles to this file, and also import other style files */

#text-align-right {
  text-align: left;
  margin-left: 53px;
}

@media only screen and (max-width: 800px){
  @page :blank {
    @top-center { content: "This page is intentionally left blank" }
  }
}


#text-color-title {
  color:#183e82;
  font-weight: bold;

}


button {
  min-width: 5em;
  border: none !important;
  border-radius: 0.6em !important;
}
